apiVersion: v1
kind: Service
metadata:
  name: app-service
  labels:
    app.kubernetes.io/name: announcements
    app.kubernetes.io/component: app
spec:
  type: NodePort
  selector:
    app.kubernetes.io/name: announcements
    app.kubernetes.io/component: app
  ports:
  - name: http
    port: 80
    targetPort: http
    nodePort: 30080
