apiVersion: v1
kind: Service
metadata:
  name: postgres-service
  labels:
    app.kubernetes.io/name: announcements
    app.kubernetes.io/component: database
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: announcements
    app.kubernetes.io/component: database
  ports:
    - name: pg
      port: 5432
      targetPort: pg
